{{!< default}}

<main role="main">
    <article class="{{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}
        <div class="post-meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">
                {{date format='MMM, DD YYYY'}}
            </time>
            <div class="tags">
                {{#if tags}}
                    {{tags separator="<span class='separator'>&bull;</span>"}}
                {{/if}}
            </div>
        </div>
        
        <header class="post-header">
            <h2 class="post-title">{{{title}}}</h2>
        </header>
        <section class="post-content">
            {{content}}
        </section>

        {{/post}}

    </article>
</main>
